@import "../../../theme/variables";

// ---------------------------------------------------------------------------------------------------------------------
// General Style
// ---------------------------------------------------------------------------------------------------------------------

ac-panel {
  display: block;
  box-sizing: border-box;
  flex-direction: column;
  width: 100%;

  transform-origin: 0 0;
  transition: opacity $default-transition, transform $default-transition;
  border: 1px solid var-color("neutral", "light");
  border-radius: $border-radius-default;
  background: var-color("neutral", "contrast");
  box-shadow: $z3-shadow;

  &.transition--before-enter {
    transform: translateY(-10px) scaleY(0.5);
    opacity: 0;
  }

  &.transition--before-leave {
    transform: translateY(-10px) scaleY(0.5);
    opacity: 0;
  }

}

ac-panel {
  @include browser-ie {
    &.transition--before-enter {
      transform: none;
      opacity: 1;
    }
  }
}
