@import "../../../../theme/variables";
@import "../../../atoms/ac-button/ac-button.vars";

// ---------------------------------------------------------------------------------------------------------------------
// General Style
// ---------------------------------------------------------------------------------------------------------------------

ac-menu-item {
  display: block;
  .ac-menu-item__native {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: $ac-button__height;
    max-height: $ac-button__height;
    padding: 0 $spacer-small;
    transition: background-color $slow-transition;
    border-radius: $border-radius-default;
    background: transparent;
    color: current-color("contrast");
    text-decoration: none;
    cursor: pointer;
    &:hover,
    &:focus {
      background-color: current-color("contrast", 0.2);
    }
    &:active {
      background-color: current-color("contrast", 0.4);
    }

    .ac-menu-item__text {
      width: 100%;
      font-size: $font-small;
      user-select: none;
    }

    .ac-menu-item__icon-start {
      margin-right: $spacer-small;
    }
  }
}


// ---------------------------------------------------------------------------------------------------------------------
// State Modifiers
// ---------------------------------------------------------------------------------------------------------------------

// Icon Only mode (icon-only)
// --------------------------------------------------

ac-menu-item.ac-menu-item--icon-only {
  .ac-menu-item__native {
    justify-content: center;
    width: $ac-button__height;
    height: $ac-button__height;
    padding: 0;
    border-radius: 100%;
    .ac-menu-item__icon-start {
      margin-right: 0;
    }
    .ac-menu-item__text {
      display: none;
    }
  }
}
