@import "../../theme/variables";

/**
* generate buttons variations
*/
@mixin button-variations($selector: '', $bg: #FFF, $font: #fff) {
  :host(#{$selector}){
    background-color: $bg;
    color: $font;
  }

  :host(#{$selector}:hover){
    background-color: darken($bg, 10%);
  }

  :host(#{$selector}:focus){
    outline: none;
    box-shadow: 0 0 0 4px rgba($bg, 0.6);
  }

  @if( $selector == '.ac-button' ) {
    :host(#{$selector}:active){
      box-shadow: inset 0 0 0 0 rgba(0,0,0,.2),
                  0 0 0 4px rgba(#e6e6e6, 0.6);
    }
  }
  @else {
    :host(#{$selector}:active){
      box-shadow: inset 0 0 0 0 rgba(0,0,0,.2),
                  0 0 0 4px rgba($bg, 0.6);
    }
  }
}

:host(.ac-button){
  display: inline-flex;
  align-items: center;
  margin: 0 0 1rem;
  height: 50px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 4px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  -webkit-appearance: none;
  line-height: 1;
  text-align: center;
  padding: $spacer-tiny $spacer-small;
  cursor: pointer;
  transition: all .2s ease-in-out;
  box-sizing: border-box;
  box-shadow: inset 0 -2px 0 0px rgba(0,0,0,.2);

  .ac-button__text{
    padding: 0 10px;
  }
}

@include button-variations('.ac-button', #FFFFFF, #282828);
@include button-variations('.ac-button--primary', $secondary);
@include button-variations('.ac-button--secondary', $primary);

@keyframes spinner {
  to { transform: rotate(360deg); }
}
