@import "../../../theme/variables";


ac-list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .ac-list__header-title {
    height: 24px;
    margin: 0 0 8px 0;
    display: flex;
    color: var-color("neutral", "darker");
  }

  .ac-list__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    height: inherit;
    border: 1px solid var-color("neutral", "light");
    border-radius: $border-radius-default;
  }

  .ac-list__search-bar {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 1px;
    margin-bottom: $spacer-small;

    .ac-input__native {
      padding-left: 0 !important;
    }

    .ac-list__search-bar-icon {
      fill: var-color("neutral", "dark");
    }
  }

  .ac-list__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    margin: 0;
    padding: $spacer-tiny 0;
    overflow-x: hidden;
    overflow-y: auto;
    list-style: none;

    .ac-list__list-item {
      display: flex;
      align-items: center;
      flex: 0 0 27px;
      padding: $spacer-tiny/2 $spacer-small;
      color: var-color("neutral", "darker");
      font-size: $font-small;
      cursor: pointer;
      user-select: none;

      .ac-list__checkbox {
        padding-right: $spacer-tiny;
      }

      &.ac-list__list-item--empty {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;

      }

      &.ac-list__list-item--selected {
        background-color: var-color("primary", "normal", 0.09);
        color: var-color("primary", "normal");
      }

      &:hover {
        background-color: var-color("primary", "normal", 0.04);
        color: var-color("primary", "normal");
      }
    }


    .ac-list__list-separator {
      display: flex;
      align-items: center;
      flex: 0 0 27px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: default;
      user-select: none;

      .ac-list__list-separator-line {
        display: flex;
        flex: 1;
        height: .4px;
        background-color: var-color("neutral", "normal");
        margin: 0 $spacer-small 0;
      }

      .ac-list__list-separator-title {
        display: inline-block;
        padding: 0 $spacer-tiny 0 $spacer-small;
        background-color: var-color("neutral", "contrast");
        color: var-color("neutral", "normal");
        font-size: $font-xtiny;
        text-transform: uppercase;
      }
    }
  }
}