@import "../../../theme/variables";




.ac-autocomplete__panel {
  .ac-autocomplete__list {
    list-style-type: none;
    padding: 0;
  }
}
.ac-autocomplete {
  display: flex;
  flex: 1;
  flex-direction: column;

  .ac-autocomplete__icon {
    margin: $spacer-tiny;
  }
}