@import "../../../theme/variables";

// ---------------------------------------------------------------------------------------------------------------------
// General Style
// ---------------------------------------------------------------------------------------------------------------------

ac-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 $spacer-tiny;

  ac-menu-item {
    margin-bottom: $spacer-tiny;
  }
}
