@import "../../../theme/variables";

// ---------------------------------------------------------------------------------------------------------------------
// General Style
// ---------------------------------------------------------------------------------------------------------------------

ac-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 $spacer-tiny;

  ac-menu-item {
    margin-bottom: $spacer-tiny;
  }

  .ac-menu__group {
    padding-bottom: $spacer-small;
    .ac-menu__group-title {
      color: current-color("contrast", 0.32);
      font-size: $font-xtiny;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  // @TODO: Change the way that we customize compound components
  .ac-menu__search-bar {
    margin-bottom: $spacer-medium;
    transition:
      opacity $default-transition,
      background $default-transition;
    border: 0px;
    background: current-color("contrast", 0.08);
    fill: current-color("contrast") !important;
    &:hover, &.ac-input--focus {
      background: current-color("contrast", 0.16);
    }

    .ac-input__native {
      color: current-color("contrast") !important;
    }
  }
}

// ---------------------------------------------------------------------------------------------------------------------
// State Modifiers
// ---------------------------------------------------------------------------------------------------------------------

// Icon Only mode (icon-only)
// --------------------------------------------------

ac-menu.ac-menu--icon-only {
  ac-input-base.ac-menu__search-bar {
    opacity: 0;
  }
}

// Filtered mode
// --------------------------------------------------

ac-menu.ac-menu--filtered {
  .ac-menu__content {
    display: none;
  }
}
