@import "../../../theme/variables";

:host {
  display: flex;
  align-items: center;
  justify-content: center;

  @include browser-ie {
    display: block;
  }
}


// Animations
// --------------------------------------------------

:host(.icon--anim-spin) {
  svg {
    animation: anim-spin 2s infinite linear;
  }
}

@keyframes anim-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}
