@import "../../../theme/variables";


// General Tabs Style
// --------------------------------------------------

ac-tabs {
  position: relative;
  display: flex;
  width: 100%;
  border-bottom: 1px solid $ui-tabs__border-bottom-color;
  box-sizing: border-box;

  .ac-tabs__bullet {
    position: absolute;
    bottom: -4px;
    margin-left: -4px;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    transition:
      left .4s ease-in-out,
      height .4s ease-in-out,
      width .4s ease-in-out,
      border-radius .4s ease-in-out,
      margin-bottom .4s ease-in-out;
    background-color: var-color("secondary", "normal");

    &.ac-tabs__bullet--moving {
      height: 2px;
      width: 72px;
      border-radius: 2px;
      margin-bottom: 2px;
    }
  }

  .ac-tabs__wrapper {
    display: flex;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
  }
}


// Secondary theme
// --------------------------------------------------

ac-tabs.ac-tabs--secondary {
  .ac-tabs__bullet {
    background-color: var-color("primary", "normal");
  }
}
