@import "../../../theme/variables";

// ---------------------------------------------------------------------------------------------------------------------
// General Style
// ---------------------------------------------------------------------------------------------------------------------

ac-table {
  table {
    position: relative;
    width: 100%;
    border-collapse: collapse;
  }

  thead {
    th {
      padding-bottom: 11px;
      border-bottom: 2px solid var-color("neutral", "lighter");
      text-align: start;
      white-space: nowrap;

      strong {
        padding-right: $spacer-tiny;
        color: var-color("neutral", "darker");
        font-weight: normal;
        pointer-events: none;
      }

      i {
        &:before {
          color: var-color("neutral", "inverted");
          font-size: $spacer-tiny;
        }

        &:first-child {
          transform: translateY(-4px);
          transition: transform $slow-transition;

        }
      }

      .order {
        display: inline-flex;
        position: relative;
        align-items: flex-start;
        justify-content: flex-start;
        pointer-events: none;

        &.order-asc {
          i {
            &:first-child {
              transform: rotate(180deg);
            }
          }
        }
      }

      .order-space-icon {
        visibility: hidden;
      }
    }
  }

  td {
    border-bottom: 1px solid var-color("neutral", "lighter");
  }

  tbody {
    tr {
      &:hover {
        background-color: var-color("primary", "normal", 0.04);
        cursor: pointer;
      }

      td {
        & > * {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
  tbody {
    .table--loading {
      display: flex;
      position: absolute;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      background-color: var-color("neutral", "contrast", 0.8);
    }
  }
}

