@import "../../../../theme/variables";
@import "../../../atoms/ac-button/ac-button.vars";

// ---------------------------------------------------------------------------------------------------------------------
// General Style
// ---------------------------------------------------------------------------------------------------------------------

ac-menu-item {
  display: block;

  .ac-menu-item__native {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    height: $ac-button--small__height;
    padding: 0 $spacer-small;
    transition:
      background-color $slow-transition,
      color $slow-transition,
      fill $slow-transition;
    border-radius: $border-radius-default;
    background: transparent;
    fill: current-color("contrast", 0.8);
    color: current-color("contrast", 0.8);
    text-decoration: none;
    cursor: pointer;
    &:hover,
    &:focus {
      background-color: current-color("contrast", 0.04);
      color: current-color("contrast");
    }
    &:active {
      background-color: current-color("contrast", 0.08);
    }

    .ac-menu-item__text {
      width: 100%;
      font-size: $font-small;
      user-select: none;
    }

    .ac-menu-item__icon-start {
      margin-right: $spacer-small;
    }

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: -8px;
      width: 4px;
      height: 0;
      transition:
        top .4s ease-in-out,
        width .4s ease-in-out,
        height .4s ease-in-out,
        border-radius .4s ease-in-out;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      background-color: var-color("primary", "normal");
    }
  }

  .ac-menu-item__submenu {
    height: auto;
    max-height: 0;
    overflow: hidden;
    transition: max-height $slow-transition, opacity $slow-transition;
    opacity: 0;

    ac-menu-item {
      .ac-menu-item__text {
        margin-left: 14px;
        color: current-color("contrast", 0.6);
      }
      [slot="submenu"] {
        ac-menu-item .ac-menu-item__text {
          margin-left: 14px + $spacer-small;
        }
      }
    }
  }

  .ac-menu-item__submenu-icon {
    transition: transform $slow-transition;
  }
}


// ---------------------------------------------------------------------------------------------------------------------
// State Modifiers
// ---------------------------------------------------------------------------------------------------------------------

// Icon Only mode (icon-only)
// --------------------------------------------------

ac-menu-item.ac-menu-item--icon-only {
  & > .ac-menu-item__native {
    justify-content: center;
    width: $ac-button--small__height;
    height: $ac-button--small__height;
    margin-left: 6px;
    padding: 0;
    border-radius: 100%;
    .ac-menu-item__icon-start {
      margin-right: 0;
    }
    .ac-menu-item__text {
      display: none;
    }
    .ac-menu-item__submenu-icon {
      display: none !important;
    }

    &:before {
      left: -14px;
    }
  }
}


// Collapsed mode (collapsed)
// --------------------------------------------------

ac-menu-item.ac-menu-item--collapsed {
  & > .ac-menu-item__submenu {
    max-height: 100vh;
    opacity: 1;
  }
  & > .ac-menu-item__native .ac-menu-item__submenu-icon {
    transform: rotate(180deg);
  }
}

ac-menu-item.ac-menu-item--collapsed.ac-menu-item--icon-only {
  & > .ac-menu-item__submenu {
    display: none;
  }
}


// Active mode (active)
// --------------------------------------------------

ac-menu-item.ac-menu-item--active {
  & > .ac-menu-item__native {
    fill: var-color("primary", "normal");
    color: var-color("primary", "normal");
    font-weight: bold;
    &:before {
      top: calc(50% - 12px);
      height: 24px;
    }
  }
}
