@import "../../../../theme/variables";
@import "ac-tab.vars";

// ---------------------------------------------------------------------------------------------------------------------
// General Style
// ---------------------------------------------------------------------------------------------------------------------

ac-tab {
  padding: $ac-tab__padding;
  color: var-color("primary", "normal");
  font-size: $ac-tab__font-size;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;

  cursor: pointer;
  user-select: none;

  &[active] {
    color: var-color("secondary", "normal");
  }
}


// ---------------------------------------------------------------------------------------------------------------------
// State Modifiers
// ---------------------------------------------------------------------------------------------------------------------

// Compact mode (compact)
// --------------------------------------------------

ac-tab.ac-tab--compact {
  padding: $spacer-small $spacer-tiny;
  font-weight: normal;

}


// ---------------------------------------------------------------------------------------------------------------------
// Theme Variations
// ---------------------------------------------------------------------------------------------------------------------

ac-tab.ac-tab--secondary {
  color: var-color("secondary", "normal");

  &[active] {
    color: var-color("primary", "normal");
  }
}
