@import "../../../../theme/variables";


// General Tab Style
// --------------------------------------------------

:host {
  color: var-color("primary", "normal");
  padding: $spacer-small $spacer-small;
  font-size: $font-small;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;

  cursor: pointer;
  user-select: none;
}

:host([active]) {
  color: var-color("secondary", "normal");
}


// Secondary theme
// --------------------------------------------------

:host(.ac-tab--secondary) {
  color: var-color("secondary", "normal");
}

:host([active]) {
  color: var-color("primary", "normal");
}
