@import "../../../../theme/variables";
@import "ac-tab.vars";

@include component-skeleton("ac-tab") {
  @include skeleton-base("skeleton-background");
  display: inline-block;
  height: $ac-tab__font-size;
  margin: $ac-tab__padding;
  padding: 0;
  font-size: inherit;
  color: transparent;
  * {
    display: none;
  }
}
