@import "../../../../theme/variables";
@import "ac-tab.vars";


// General Tab Style
// --------------------------------------------------

ac-tab {
  color: var-color("primary", "normal");
  padding: $ac-tab__padding;
  font-size: $ac-tab__font-size;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;

  cursor: pointer;
  user-select: none;
}

ac-tab[active] {
  color: var-color("secondary", "normal");
}


// Secondary theme
// --------------------------------------------------

ac-tab.ac-tab--secondary {
  color: var-color("secondary", "normal");
}

ac-tab[active] {
  color: var-color("primary", "normal");
}
