@import "../../../theme/variables";


// General Button Style
// --------------------------------------------------

ac-layout {
  display: flex;

  .ac-layout__nav-left-container {
    height: 100vh;
  }

  .ac-layout__content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: $ui-layout__background-color;
    transition: filter $default-transition;
  }

  .ac-layout__content-scroll {
    max-height: 100%;
    height: 100%;
    overflow: auto;
  }

  @include down-md {
    .ac-layout__nav-left-container {
      position: absolute;
      transform: translateX(-100%);
      transition: transform $default-transition;
      z-index: $z-navdrawer;
    }
  }
}


// Nav Left collapsed
// collapsed="nav-left"
// --------------------------------------------------

ac-layout.ac-layout--nav-left-collapsed {
  @include down-md {
    .ac-layout__nav-left-container {
      position: absolute;
      transform: translateX(0);
    }
    .ac-layout__content-container {
      filter: brightness(0.4);
    }
  }
}
