@import "../../../theme/variables";

@include component-skeleton("ac-gauge") {
  .ac-gauge__meter {
    display: none;
    fill: #ededed;
  }

  .ac-gauge__bg {
    path {
      fill: #ededed;
      stroke: none;
    }
  }
  .ac-gauge__inner {
    display: none;
  }
}
