@import "../../../theme/variables";
@import "ac-progress.vars";

// ---------------------------------------------------------------------------------------------------------------------
// General Style
// ---------------------------------------------------------------------------------------------------------------------

ac-progress {
  display: block;
  position: relative;
  width: 100%;
  height: 8px;
  border-radius: 8px;
  .ac-progress__meter {
    display: block;
    position: absolute;
    height: 100%;
    transition: width $slow-transition;
    border-radius: inherit;
  }
}


// ---------------------------------------------------------------------------------------------------------------------
// Theme Variations
// ---------------------------------------------------------------------------------------------------------------------

@include progress-variations(".ac-progress--primary", "primary");
@include progress-variations(".ac-progress--secondary", "secondary");
@include progress-variations(".ac-progress--neutral", "neutral");
