// ---------------------------------------------------------------------------------------------------------------------
// Colors Definitions
// ---------------------------------------------------------------------------------------------------------------------

// Branding
// --------------------------------------------------

$brand__dark-blue: #00466F;
$brand__red: #F0000A;
$brand__orange: #EF773F;
$brand__lemon: #C9D759;
$brand__lazuli: #2C65AF;
$brand__lilac: #A064FF;
$brand__purple: #6A2568;
$brand__desire: #E64451;


// Functional
// --------------------------------------------------

$functional__info: #00B4F0;
$functional__success: #14C86E;
$functional__warning: #f9c05d;
$functional__alert: #F0000A;


// Neutral
// --------------------------------------------------

$neutral__gray: #C8C8C8;
$neutral__white: #FFFFFF;
$neutral__black: #111111;


// Shadows
// --------------------------------------------------

$z1-shadow: 0 4px 8px rgba(0,0,0, 0.08);
$z2-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
$z2-shadow--center: 0 0 16px rgba(0, 0, 0, 0.08);
$z3-shadow: 0 16px 32px rgba(0,0,0, 0.08);
$z3-shadow--left: 16px 0px 32px rgba(0,0,0, 0.08);
$z3-shadow--right: -16px 0px 32px rgba(0,0,0, 0.08);
