@import "./colors";
// CSS Variables:
$theme: (
  primary: (
    normal:           $brand__dark-blue,
    contrast:         $neutral__white,
    dark:             darken($brand__dark-blue, 10%),
    darker:           darken($brand__dark-blue, 20%),
    light:            lighten($brand__dark-blue, 10%),
    lighter:          lighten($brand__dark-blue, 20%)
  ),
  secondary: (
    normal:           $brand__red,
    contrast:         $neutral__white,
    dark:             darken($brand__red, 10%),
    darker:           darken($brand__red, 20%),
    light:            lighten($brand__red, 10%),
    lighter:          lighten($brand__red, 20%)
  ),
  info: (
    normal:           $functional__info,
    contrast:         $neutral__white,
    dark:             darken($functional__info, 10%),
    darker:           darken($functional__info, 20%),
    light:            lighten($functional__info, 10%),
    lighter:          lighten($functional__info, 20%),
  ),
  success: (
    normal:           $functional__success,
    contrast:         $neutral__white,
    dark:             darken($functional__success, 10%),
    darker:           darken($functional__success, 20%),
    light:            lighten($functional__success, 10%),
    lighter:          lighten($functional__success, 20%)
  ),
  warning: (
    normal:           $functional__warning,
    contrast:         $neutral__white,
    dark:             darken($functional__warning, 10%),
    darker:           darken($functional__warning, 20%),
    light:            lighten($functional__warning, 10%),
    lighter:          lighten($functional__warning, 20%)
  ),
  alert: (
    normal:           $functional__alert,
    contrast:         $neutral__white,
    dark:             darken($functional__alert, 10%),
    darker:           darken($functional__alert, 20%),
    light:            lighten($functional__alert, 10%),
    lighter:          lighten($functional__alert, 20%)
  ),
  neutral: (
    normal:           $neutral__gray,
    contrast:         $neutral__white,
    inverted:         $neutral__black,
    dark:             #a0a0a0,
    darker:           #646464,
    light:            #e6e6e6,
    lighter:          #f5f5f5
  ),
  theme: (
    normal:           $neutral__white,
    contrast:         $neutral__black,
    inverted:         $neutral__white,
    dark:             #a0a0a0,
    darker:           #646464,
    light:            #e6e6e6,
    lighter:          #f5f5f5
  )
) #f5f5f5#e6e6e6#a0a0a0#f5f5f5#e6e6e6#a0a0a0;
