
// ---------------------------------------------------------------------------------------------------------------------
// Effects. Transitions and Transforms
// ---------------------------------------------------------------------------------------------------------------------

$fast-transition: ease-in-out .05s;
$default-transition: ease-in-out .1s;
$slow-transition: ease-in-out .25s;
