@import "../../../theme/variables";
@import "ac-tabs.vars";

// ---------------------------------------------------------------------------------------------------------------------
// General Style
// ---------------------------------------------------------------------------------------------------------------------

ac-tabs {
  display: $ac-tabs__display;
  position: relative;
  box-sizing: border-box;
  width: $ac-tabs__width;
  border-bottom: 1px solid rgba(0,0,0,.08);

  .ac-tabs__bullet {
    position: absolute;
    bottom: 0px;
    width: 24px;
    height: 4px;
    margin-left: -11px;
    transition:
      left .4s ease-in-out,
      height .4s ease-in-out,
      width .4s ease-in-out,
      border-radius .4s ease-in-out,
      margin-bottom .4s ease-in-out;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: var-color("secondary", "normal");

    &.ac-tabs__bullet--moving {
      width: 72px;
      height: 2px;
      margin-bottom: 2px;
      border-radius: 2px;
    }
  }

  .ac-tabs__wrapper {
    display: flex;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
  }
}


// ---------------------------------------------------------------------------------------------------------------------
// Theme Variations
// ---------------------------------------------------------------------------------------------------------------------

ac-tabs.ac-tabs--secondary {
  .ac-tabs__bullet {
    background-color: var-color("primary", "normal");
  }
}
ac-tabs.ac-tabs--compact {
  border-bottom: none;
  .ac-tabs__bullet {
    width: 20px;
  }
}
