
// ---------------------------------------------------------------------------------------------------------------------
// Spec Variables
// ---------------------------------------------------------------------------------------------------------------------

$ac-tabs__display: flex;
$ac-tabs__width: 100%;
$ac-tabs__border-bottom-color: rgba(0,0,0,.08);
