@import "../../../theme/variables";

// ---------------------------------------------------------------------------------------------------------------------
// General Style
// ---------------------------------------------------------------------------------------------------------------------

ac-select {
  display: flex;
  position: relative;
  flex-direction: column;

  & > [slot="item-top"], & > [slot="item-bottom"] {
    display: none !important;
  }

  .ac-select__helper-text {
    display: block;
    margin-top: $spacer-tiny;
    color: var-color("neutral", "darker");
    font-size: $font-tiny;
  }

  .ac-select__native, .ac-select__phantom-dom {
    display: none;
  }
}


// ---------------------------------------------------------------------------------------------------------------------
// State Modifiers
// ---------------------------------------------------------------------------------------------------------------------

// Error mode (FormFieldBehavior)
// --------------------------------------------------

ac-select.form-field--invalid {
  .ac-select__helper-text {
    color: var-color("alert", "normal");
  }
}

// List's Scrollbar theming
// ---------------------------------------------------------

@include scrollbar("ul.ac-select__list");
