@import "../../../theme/variables";

// ---------------------------------------------------------------------------------------------------------------------
// Spec Variables
// ---------------------------------------------------------------------------------------------------------------------

$ac-header__min-height: 64px;
$ac-header--mobile__min-height: 52px;
$ac-header__width: 100%;


// ---------------------------------------------------------------------------------------------------------------------
//  Utilities
// ---------------------------------------------------------------------------------------------------------------------

@mixin header-variations($color-name) {
  ac-header.ac-header--#{$color-name}{
    @include down-md {
      @include define-theme-colors("primary");
      background: var-color($color-name, "normal");
      color: var-color($color-name, "contrast");
    }
  }
}
