@import "../../../theme/variables";


// General Header Style
// --------------------------------------------------

ac-header {
  display: block;
  width: 100%;
  box-sizing: border-box;
  z-index: $z-header;
  background: $white;
  box-shadow: $z1-shadow;

  .ac-header__header-container {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: $spacer-small $spacer-huge;
    @include down-md() {
      padding: $spacer-small $spacer-small;
    }
    box-sizing: border-box;
    min-height: 64px;

    .ac-header__content {
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 100%;
    }

    .ac-header__actions {
      flex: 0 0 auto;
    }
  }


  // Modify the AcTabs style when it is integrated
  // through the sub-header slot.
  // --------------------------------------------------

  ac-tabs[slot="sub-header"] {
    border-bottom: 0;
    @include up-md() {
      padding: 0 24px;
    }
  }
}
