@import "../../../theme/variables";
@import "./ac-header.vars";


// General Header Style
// --------------------------------------------------

ac-header {
  display: $ac-header__display;
  z-index: $z-header;
  box-sizing: border-box;
  width: $ac-header__width;
  transition: background $slow-transition, box-shadow $slow-transition;

  @include down-md {
    background: $white;
    box-shadow: $z1-shadow;
  }

  .ac-header__header-container {
    display: flex;
    box-sizing: border-box;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    min-height: $ac-header__min-height;
    padding: $spacer-small $spacer-huge;

    @include down-md() {
      padding: $spacer-small $spacer-small;
    }

    .ac-header__content {
      display: flex;
      align-items: center;
    }
  }


  // Modify the AcTabs style when it is integrated
  // through the sub-header slot.
  // --------------------------------------------------

  ac-tabs[slot="sub-header"] {
    @include up-md() {
      padding: 0 24px;
    }
    border-bottom: 0;
  }
}

ac-header.ac-header--scrolled {
  background: $white;
  box-shadow: $z1-shadow;
}
