@import "../metrics";

/**
 * Applies the scrollbar theme to a selector.
 */
@mixin scrollbar($selector) {
  #{$selector}::-webkit-scrollbar {
    width: $spacer-tiny;
    height: $spacer-tiny;
  }
  #{$selector}::-webkit-scrollbar-track {
    background: rgba(0,0,0,.2);
  }
  #{$selector}::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.3);
  }
  #{$selector}::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,.4);
  }
}
