@import "../../../theme/variables";

ac-upload {
  display: block;
  width: 100%;

  .ac-upload--drop-area {
    display: block;
    height: 100%;
    border: 2px dashed #E6E6E6;
    border-radius: 4px;
    background: #F5F5F5;

    .ac-upload--wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;

      .ac-upload--button {
        padding: 16px 0px 16px;
      }

      .ac-upload--content {
        width: 100%;
        padding: 0px 16px 0px;
        text-align: center;
      }
    }
  }

  .ac-upload--native-input {
    display: none;
  }


}

ac-upload.ac-upload--focus {
  .ac-upload--drop-area {
    transition: border-color ease-in-out .2s,
    background ease-in-out .2s;
    border-color: var-color("primary", "normal");
    background: var-color("primary", "normal", 0.1);
  }
}

ac-upload.ac-upload--disabled.ac-upload--focus {

  .ac-upload--drop-area {
    border-color: var-color("alert", "normal");
    cursor: not-allowed;
  }
}

ac-upload.ac-upload--disabled {
  .ac-upload--drop-area {
    cursor: not-allowed;
    pointer-events: none;
  }
}


