@import "../../../theme/variables";

:host {
  display: block;
  width: 100%;
  .ac-upload--drop-area {
    display: block;
    height: 100%;
    border: 2px dashed #E6E6E6;
    border-radius: 4px;
    background: #F5F5F5;

    .ac-upload--wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      .ac-upload--button {
        padding: 16px 0px 16px;
      }

      .ac-upload--content {
        padding: 0px 16px 0px;
        text-align: center;
      }
    }
  }
  .ac-upload--native-input {
    display: none;
  }
}

:host(.ac-upload--focus) {
  .ac-upload--drop-area {
    transition: border-color ease-in-out .2s,
                background ease-in-out .2s;
    border-color: var-color("primary", "normal");
    background: var-color("primary", "normal", 0.1);
  }
}


