@import "../../../theme/variables";
@import "ac-navdrawer.vars";

// ---------------------------------------------------------------------------------------------------------------------
// General Style
// ---------------------------------------------------------------------------------------------------------------------

ac-navdrawer {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  width: 260px;
  transition: width $default-transition;
  background: var-color("neutral", "contrast");
  box-shadow: $z2-shadow--center;
  color: var-color("neutral", "inverted");


  .ac-navdrawer__header {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 64px;
    padding: 0;
    overflow: hidden;
    font-weight: bold;

    .ac-navdrawer__title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin: $spacer-small $spacer-medium 0;
      .ac-navdrawer__title-content {
        height: 24px;
        font-size: $font-medium;
      }
      .ac-navdrawer__close-button {
        width: 32px;
        height: 32px;
        .ac-button__native {
          min-height: 100%;
          min-width: 100%;
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  .ac-navdrawer__content {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    height: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  // Brand Button
  .ac-navdrawer__toggle-button {
    display: flex;
    position: absolute;
    z-index: $z-fab;
    top: 28px;
    left: calc(100% + 2px);
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .ac-navdrawer__toggle-button-bg {
      position: absolute;
      width: 24px;
      height: 24px;
      stroke-width: 50px;
      stroke: var-color("neutral", "lighter");
    }

    .ac-navdrawer__toggle-button-icon {
      z-index: 1;
    }
  }

  @include down-md {
    .ac-navdrawer__toggle-button {
      display: none;
    }
  }

  @include browser-ie {
    .ac-navdrawer__toggle-button {
      left: calc(100% - 15px);
    }
    .ac-navdrawer__toggle-button-icon {
      position: absolute;
      top: 8px;
      width: 33px;
      height: 14px;
    }
    &.transition--before-enter,
    &.transition--before-leave {
      transform: none !important;
    }
  }


  &.ac-navdrawer--over {
    transition: transform $default-transition;
    .ac-navdrawer__header {
      align-items: baseline;
    }
  }

  
  &.transition--before-enter,
  &.transition--before-leave {
    transform: translate(300px);
  }
}


// ---------------------------------------------------------------------------------------------------------------------
// Mode Property
// ---------------------------------------------------------------------------------------------------------------------

// Compact mode (mode="compact")
// ---------------------------------------------------------

ac-navdrawer.ac-navdrawer--compact {
  width: 64px;
  border-radius: 0;
}

// ---------------------------------------------------------------------------------------------------------------------
// Theme Variations
// ---------------------------------------------------------------------------------------------------------------------

@include navdrawer-variations("primary");
@include navdrawer-variations("secondary");

// Layout Content's Scrollbar theming
// ---------------------------------------------------------

@include scrollbar("ac-navdrawer .ac-navdrawer__content")
