@import "../../../theme/variables";


// General Combo Select Style
// --------------------------------------------------

ac-select {
  position: relative;
  display: flex;
  flex-direction: column;

  & > [slot="item-top"], & > [slot="item-bottom"] {
    display: none !important;
  }

  .ac-input__helper-text {
    display: block;
    margin-top: $spacer-tiny;
    font-size: $font-tiny;
    color: darken($gray, 20%);
  }


  ac-panel {
    position: absolute;
    z-index: $z-panel;
  }

  ul.ac-select__list {
    list-style: none;
    padding: 8px 0;
    margin: 0;
    overflow-y: auto;

    li.ac-select__list-item {
      position: relative;
      padding: 4px 16px;
      font-size: $font-small;
      color: $ui-label__color;
      cursor: pointer;
      user-select: none;

      &:hover {
        color: var-color("primary", "normal");
        background-color: var-color("primary", "normal", 0.04);
      }

      &.ac-select__list-item--selected {
        background-color: var-color("primary", "normal", 0.08);
      }
    }

    li.ac-select__list-separator {
      position: relative;
      user-select: none;
      cursor: default;
      height: 27px;

      &:before {
        content: "";
        position: absolute;
        top: 18px;
        left: 16px;
        right: 16px;
        height: 1px;
        background-color: $gray;
      }

      label {
        position: absolute;
        display: inline-block;
        padding: 12px 8px 0 16px;
        background-color: $white;
        color: $gray;
        font-size: $font-xtiny;
        text-transform: uppercase;
      }
    }
  }

  .ac-select__native {
    display: none;
  }
}


// List's Scrollbar theming
// --------------------------------------------------

@include scrollbar('ac-select ul.ac-select__list');


// Panel at top mode
// --------------------------------------------------

ac-select.ac-select--top {
  ac-panel {
    bottom: calc(100% + #{$spacer-tiny});
  }
}


// Panel at bottom mode
// --------------------------------------------------

ac-select.ac-select--bottom {
  ac-panel {
    top: 100%;
  }
}




