@import "../../../theme/variables";
@import "../../../components/atoms/ac-input-base/ac-input-base.vars";

@include component-skeleton("ac-select") {
  @include skeleton-background("skeleton-background");
  display: $ac-input-base__display;
  min-height: $ac-input-base__min-height;
  border: none;
  border-radius: $border-radius-default;
}
