@import "../../theme/variables";

:host(.focus) {
  border-color: var(--primary);
}

:host {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 2px solid map_get($gray, "light");
  border-radius: 4px;
  transition: border-color $default-transition;

  label {
    position: absolute;
    top: 18px;
    left: 16px;
    transition: $default-transition;
    user-select: none;

    &.floating {
      font-size: $font-tiny;
      top: 6px;
    }
  }

  .input-container {
    width: 100%;
    display: flex;

    input {
      width: 100%;
      height: 56px;
      padding: 24px 16px 8px;
      box-sizing: border-box;
      border: none;
      font-size: $font-small;

      &:focus {
        outline: none;
      }
    }

    button {
      margin: $spacer-tiny / 2;
    }
  }
}

