@import "../../theme/variables";

:host {
  display: block;
  padding: 8px 16px;
  border: 2px solid var(--primary);
  border-radius: 4px;
  .input-container {
    display: flex;
    flex-direction: column;
  }
}

