@import "../../theme/variables";

:host {
  position: relative;
  display: block;
  border: 2px solid var(--primary);
  border-radius: 4px;

  .input-container {
    display: flex;
    flex-direction: column;

    label {
      position: absolute;
      top: 18px;
      left: 16px;
      transition: $default-transition;

      &.floating {
        font-size: $font-tiny;
        top: 6px;
      }
    }

    input {
      height: 56px;
      padding: 24px 16px 8px;
      box-sizing: border-box;
      border: none;
      font-size: $font-small;
    }
  }
}

