@import "../../../theme/variables";

// ---------------------------------------------------------------------------------------------------------------------
// General Style
// ---------------------------------------------------------------------------------------------------------------------

ac-layout {
  display: flex;
  background: var-color("neutral", "lighter");

  .ac-layout__nav-left-container {
    height: 100vh;
    border: 0;

    ac-navdrawer {
      border-radius: 0 ($border-radius-default * 2) ($border-radius-default * 2) 0;
    }
  }

  .ac-layout__content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow: auto;
    transition: filter $default-transition;
    background: var-color("neutral", "lighter");
  }

  .ac-layout__content-scroll {
    position: relative;
  }

  @include down-md {
    // Fixed header on medium devices
    .ac-layout__content-scroll {
      height: 100%;
      max-height: 100%;
      overflow: auto;
    }

    .ac-layout__nav-left-container {
      position: absolute;
      z-index: $z-navdrawer;
      transform: translateX(-100%);
      transition: transform $default-transition;
    }
  }
}


// ---------------------------------------------------------------------------------------------------------------------
// Collapsed Property
// ---------------------------------------------------------------------------------------------------------------------

// Nav Left Collapsed (collapsed="nav-left")
// ---------------------------------------------------------

ac-layout.ac-layout--nav-left-collapsed {
  @include down-md {
    .ac-layout__nav-left-container {
      position: absolute;
      transform: translateX(0);
    }
    .ac-layout__content-container {
      filter: brightness(0.4);
    }

    ac-navdrawer {
        box-shadow: $z3-shadow--left;
    }
  }
}


// Layout Content's Scrollbar theming
// ---------------------------------------------------------

@include scrollbar("ac-layout .ac-layout__content-container");
@include scrollbar("ac-layout .ac-layout__content-scroll");
