@import "../../../theme/variables";


// General Input Style
// --------------------------------------------------

:host {
  display: flex;
  flex-direction: column;

  .ac-input__helper-text {
    display: block;
    margin-top: $spacer-tiny;
    font-size: $font-tiny;
    color: darken($gray, 20%);
  }
}
