@import "../../../theme/variables";


// General Input Style
// --------------------------------------------------

ac-input {
  display: flex;
  flex-direction: column;

  .ac-input__helper-text {
    display: block;
    margin-top: $spacer-tiny;
    color: darken($gray, 20%);
    font-size: $font-tiny;
  }
}

ac-input.form-field--invalid {
  .ac-input__helper-text {
    color: var-color("alert", "normal");
  }
}
