@import "../../../theme/variables";

// ---------------------------------------------------------------------------------------------------------------------
// General Style
// ---------------------------------------------------------------------------------------------------------------------

ac-stepper {
  display: flex;

  .ac-stepper__step {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 44px;
    height: 44px;
    margin-left: 44px;
    color: var-color("secondary", "normal");
    font-weight: bold;
    border: 2px solid var-color("secondary", "normal");
    border-radius: 100%;
    user-select: none;
    fill: var-color("secondary", "normal");

    &:after {
      position: absolute;
      width: 44px;
      height: 1px;
      margin-left: -44px;
      background: var-color("secondary", "normal");
      content: "";
    }

    &.ac-stepper__step--active {
      color: var-color("neutral", "contrast");
      background-color: var-color("primary", "normal");
      border-color: var-color("primary", "normal");
      fill: var-color("neutral", "contrast");
      &:after {
        height: 2px;
        background: var-color("primary", "normal");
      }
    }

    &:first-of-type {
      margin-left: 0;
      &:after {
        display: none;
      }
    }
  }
}
