@import "../../../theme/variables";


// General Checkbox Style
// --------------------------------------------------

ac-check {
  display: inline-block;

  .ac-check__container {
    display: flex;
    align-items: center;

    .ac-check__label {
      margin: 0;
      padding-left: 8px;
      font-size: 16px;
      color: $ui-label__color;
      user-select: none;
      cursor: pointer;
    }
  }

  .ac-check__native {
    display: none;
  }

  .ac-check__custom {
    position: relative;
    width: 16px;
    height: 16px;
    margin: 0;
    outline: none;
    cursor: pointer;

    background: $white;
    border: 2px solid $ui-check__border-color;
    box-sizing: border-box;
  }

  .ac-check__helper-text {
    padding-left: 24px;

    display: block;
    margin-top: $spacer-tiny;
    font-size: $font-tiny;
    color: $ui-helper-text__color;
    user-select: none;
    cursor: pointer;
  }
}

// Checkbox mode.
ac-check.ac-check--checkbox {
  .ac-check__custom {
    border-radius: $border-radius-default;
    &:before {
      content: "";
      position: absolute;
      top: 1px;
      left: 1px;
      width: 8px;
      z-index: 1;
      border: 2px solid transparent;
      border-top-style: none;
      border-right-style: none;
      transition: all $default-transition;
      box-sizing: initial;
    }
  }
}

// Radio button mode.
ac-check.ac-check--radio {
  .ac-check__custom {
    border-radius: 100%;

    &:before {
      content: "";
      position: absolute;
      top: 3px;
      left: 3px;
      background-color: transparent;
      height: 6px;
      width: 6px;
      border-radius: 100%;
      transition: transform $default-transition;
      transform: scale(2);
      box-sizing: initial;
    }
  }
}


// Checked mode
// checked
// --------------------------------------------------

ac-check {
  .ac-check__native:checked {
    + .ac-check__custom {
      background: var-color("primary", "normal");
      border-color: var-color("primary", "normal");

      + .ac-check__label {
        color: var-color("primary", "normal");
      }
    }
  }
}

// Checkbox mode.
ac-check.ac-check--checkbox {
  .ac-check__native:checked + .ac-check__custom {
    &:before {
      transform: rotate(-45deg);
      border-color: $white;
      height: 5px;
    }
  }
}

// Radio button mode.
ac-check.ac-check--radio {
  .ac-check__native:checked + .ac-check__custom {
    &:before {
      background-color: $white;
      transform: scale(1);
    }
  }
}


// Disabled mode
// disabled
// --------------------------------------------------

ac-check.ac-check--disabled {
  cursor: not-allowed;

  .ac-check__container,
  .ac-check__helper-text {
    pointer-events: none;
  }
  .ac-check__label {
    color: $ui-label--disabled__color;
  }
  .ac-check__custom {
    background: $ui-check--disabled__background-color;
    border-color: $ui-check--disabled__border-color;
  }

  .ac-check__native:checked {
    + .ac-check__custom {
      background: $gray;
      border-color: $gray;

      + .ac-check__label {
        color: $ui-label--disabled__color;
      }
    }
  }
}

// Error mode
// error
// --------------------------------------------------

ac-check.ac-check--error {

  .ac-check__label {
    color: var-color("alert", "normal");
  }
  .ac-check__custom {
    border-color: var-color("alert", "normal");
  }

  .ac-check__helper-text {
    color: var-color("alert", "normal");;
  }

  .ac-check__native:checked {
    + .ac-check__custom {
      background: var-color("alert", "normal");
      border-color: var-color("alert", "normal");

      + .ac-check__label {
        color: var-color("alert", "normal");
      }
    }
  }
}


// Label in left mode
// label-left
// --------------------------------------------------

ac-check.ac-check--label-left {
  .ac-check__container {
    flex-direction: row-reverse;
  }

  .ac-check__label {
    padding-right: 8px;
  }
  .ac-check__helper-text {
    padding-left: 0;
    padding-right: 24px;
    text-align: right;
  }
}
