@import "../../../theme/variables";
@import "ac-check.vars";

// ---------------------------------------------------------------------------------------------------------------------
// General Style
// ---------------------------------------------------------------------------------------------------------------------

ac-check {
  display: inline-block;

  .ac-check__container {
    display: flex;
    align-items: center;

    .ac-check__label {
      margin: 0;
      padding: 0 0 0 $spacer-tiny;
      color: var-color("neutral", "darker");
      font-size: $font-medium;
      line-height: 1;
      cursor: pointer;
      user-select: none;
    }
  }

  .ac-check__native {
    display: none;
  }

  .ac-check__custom {
    position: relative;
    box-sizing: border-box;
    width: $ac-check__height;
    height: $ac-check__height;
    margin: 0;
    padding: 0;
    border: 2px solid var-color("neutral", "light");
    outline: none;
    background: var-color("neutral", "contrast");
    cursor: pointer;
  }

  .ac-check__helper-text {
    display: block;
    margin-top: $spacer-tiny;
    padding-left: $ac-check__height + $spacer-tiny;
    color: var-color("neutral", "darker");
    font-size: $font-tiny;
    user-select: none;
  }
}


// ---------------------------------------------------------------------------------------------------------------------
// Type Property
// ---------------------------------------------------------------------------------------------------------------------

// Checkbox (type="checkbox") (default)
// ---------------------------------------------------------

ac-check.ac-check--checkbox {
  .ac-check__custom {
    border-radius: $border-radius-default;
    &:before {
      content: "";
      position: absolute;
      z-index: 1;
      top: 3px;
      left: 3px;
      box-sizing: initial;
      width: 8px;
      transition: all $default-transition;
      border: 2px solid transparent;
      border-top-style: none;
      border-right-style: none;
    }
  }
}


// Radio (type="radio")
// ---------------------------------------------------------

ac-check.ac-check--radio {
  .ac-check__custom {
    border-radius: 100%;

    &:before {
      content: "";
      position: absolute;
      top: 4px;
      left: 4px;
      box-sizing: initial;
      width: 8px;
      height: 8px;
      transform: scale(2);
      transition: transform $default-transition;
      border-radius: 100%;
      background-color: transparent;
    }
  }
}


// ---------------------------------------------------------------------------------------------------------------------
// State Modifiers
// ---------------------------------------------------------------------------------------------------------------------

// Checked mode (checked)
// --------------------------------------------------

ac-check {
  .ac-check__native:checked {
    + .ac-check__custom {
      border-color: var-color("primary", "normal");
      background: var-color("primary", "normal");

      + .ac-check__label {
        color: var-color("primary", "normal");
      }
    }
  }
}


// Checkbox Checked mode (checked)
// --------------------------------------------------

ac-check.ac-check--checkbox {
  .ac-check__native:checked + .ac-check__custom {
    &:before {
      height: 5px;
      transform: rotate(-45deg);
      border-color: var-color("neutral", "contrast");
    }
  }
}


// Radio Checked mode (checked)
// --------------------------------------------------

ac-check.ac-check--radio {
  .ac-check__native:checked + .ac-check__custom {
    &:before {
      transform: scale(1);
      background-color: var-color("neutral", "contrast");
    }
  }
}


// Disabled mode (disabled)
// --------------------------------------------------

ac-check.ac-check--disabled {
  cursor: not-allowed;

  .ac-check__container {
    pointer-events: none;
  }
  .ac-check__label {
    color: var-color("neutral", "normal");
  }
  .ac-check__custom {
    border-color: var-color("neutral", "light");
    background: var-color("neutral", "lighter");
  }

  .ac-check__native:checked {
    + .ac-check__custom {
      border-color: var-color("neutral", "normal");
      background: var-color("neutral", "normal");

      + .ac-check__label {
        color: var-color("neutral", "dark");
      }
    }
  }
}


// Error mode (error="")
// --------------------------------------------------

ac-check.ac-check--error {

  .ac-check__label {
    color: var-color("alert", "normal");
  }
  .ac-check__custom {
    border-color: var-color("alert", "normal");
  }

  .ac-check__helper-text {
    color: var-color("alert", "normal");;
  }

  .ac-check__native:checked {
    + .ac-check__custom {
      border-color: var-color("alert", "normal");
      background: var-color("alert", "normal");

      + .ac-check__label {
        color: var-color("alert", "normal");
      }
    }
  }
}


// Label in Left mode (direction="left")
// --------------------------------------------------

ac-check.ac-check--label-left {
  .ac-check__container {
    flex-direction: row-reverse;
  }

  .ac-check__label {
    padding-right: $spacer-tiny;
  }
  .ac-check__helper-text {
    padding-right: $spacer-medium;
    padding-left: 0;
    text-align: right;
  }
}
