@import "../../../theme/variables";


// General Checkbox Style
// --------------------------------------------------

:host {
  display: inline-block;
  cursor: pointer;

  .ac-check__container {
    display: flex;
    align-items: center;

    label.ac-check__label {
      margin: 0;
      padding-left: 8px;
      font-size: 14px;
      color: $black;
      font-weight: bold;
      line-height: 20px;
      user-select: none;
      cursor: pointer;
    }
  }

  input.ac-check__native {
    position: relative;
    width: 24px;
    height: 24px;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
    outline: none;
    cursor: pointer;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      width: 20px;
      height: 20px;
      background: $white;
      border: 2px solid lighten($gray, 10%);
      border-radius: 4px;
    }

    &:before {
      content: "";
      position: absolute;
      top: 6px;
      left: 5px;
      width: 11px;
      height: 9px;
      z-index: 1;
      border: 2px solid transparent;
      border-top-style: none;
      border-right-style: none;
      transition: all $default-transition;
    }
  }

  .ac-check__helper-text {
    padding-left: 32px;

    display: block;
    margin-top: $spacer-tiny;
    font-size: $font-tiny;
    color: darken($gray, 20%);
    user-select: none;
  }
}


// Checked mode
// checked
// --------------------------------------------------

:host(.ac-check--checked) {
  label.ac-check__label {
    color: var-color("primary", "normal");
  }

  input.ac-check__native {
    &:before {
      transform: rotate(-45deg);
      border-color: white;
      height: .5rem;
    }
    &:after {
      background: var-color("primary", "normal");
      border-color: var-color("primary", "normal");
    }
  }
}


// Disabled mode
// disabled
// --------------------------------------------------

:host(.ac-check--disabled) {
  cursor: not-allowed;

  .ac-check__container,
  .ac-check__helper-text {
    pointer-events: none;
  }
  label.ac-check__label {
    color: $gray;
  }
  input.ac-check__native {
    &:after {
      background: lighten($gray, 20%);
    }
  }
}
:host(.ac-check--disabled.ac-check--checked) {
  label.ac-check__label {
    color: gray;
  }
  input.ac-check__native {
    &:after {
      background: $gray;
      border-color: $gray;
    }
  }
}


// Label in left mode
// label-left
// --------------------------------------------------

:host(.ac-check--label-left) {
  .ac-check__container {
    flex-direction: row-reverse;
  }

  label.ac-check__label {
    padding-right: 8px;
  }
  .ac-check__helper-text {
    padding-left: 0;
    padding-right: 32px;
    text-align: right;
  }
}
