@import "../../../theme/variables";

/**
* generate buttons variations
*/
@mixin button-variations($selector, $color-name) {
  :host(#{$selector}) {
    button, a {
      background-color: var-color($color-name, "normal");
      color: var-color($color-name, "contrast");
      fill: var-color($color-name, "contrast");

      &:focus {
        box-shadow: 0 0 0 4px #{var-color($color-name, "normal",  0.6)};
      }

      @if ($selector == "ac-button") {
        &:active {
          box-shadow: inset 0 0 0 0 rgba(0, 0, 0, .2),
          0 0 0 4px rgba(#e6e6e6, 0.6);
        }
      } @else {
        &:active {
          box-shadow: inset 0 0 0 0 rgba(0, 0, 0, .2),
          0 0 0 4px var-color($color-name, "normal", 0.6);
        }
      }
    }
  }

  @if ($selector == "ac-button") {
    :host(#{$selector}.ac-button--clear) {
      button, a {
        color: var-color($color-name, "normal");
        &:hover {
          background-color: var-color($color-name, "contrast", 0.02);
        }
      }
    }
  } @else {
    :host(#{$selector}.ac-button--clear) {
      button, a {
        color: var-color($color-name, "normal");
        &:hover {
          background-color: var-color($color-name, "normal", 0.1);
        }
      }
    }
  }


  :host(#{$selector}:hover) {
    @if ($selector == "ac-button") {
      button, a {
        background-color: var-color($color-name, "normal", 0.02);
      }
    } @else {
      button, a {
        background-color: var-color($color-name, "dark");
      }
    }
  }
}

:host {
  display: inline-flex;

  button, a {
    height: 44px;
    min-width: 44px;
    padding: $spacer-tiny $spacer-small;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    font-family: inherit;
    font-size: $font-small;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    transition: box-shadow $slow-transition, outline $slow-transition;
    cursor: pointer;
    user-select: none;
    -webkit-appearance: none;
    outline: none;

    .ac-button__text {
      padding: 0 10px;
    }
  }
}

@include button-variations("ac-button", "white");
@include button-variations(".ac-button--black", "black");
@include button-variations(".ac-button--primary", "primary");
@include button-variations(".ac-button--secondary", "secondary");
@include button-variations(".ac-button--info", "info");
@include button-variations(".ac-button--success", "success");
@include button-variations(".ac-button--warning", "warning");
@include button-variations(".ac-button--alert", "alert");
@include button-variations(".ac-button--disabled", "disabled");

:host(.ac-button--small) {
  button, a {
    height: 36px;
    min-width: 36px;
    font-size: $font-tiny;
    padding: 11px;
  }
}

:host(.ac-button--big) {
  button, a {
    height: 50px;
    min-width: 50px;
  }
}

:host(.ac-button--icon-only) {
  button, a {
    .ac-button__text {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 0;
    }
    padding: 0;
  }
}

:host(.ac-button--solid) {
  button, a {
    box-shadow: inset 0 -2px 0 0px rgba(0, 0, 0, .2);
    border: 1px solid rgba(0, 0, 0, .1);
  }
}

:host(.ac-button--clear) {
  button, a {
    background: transparent;
    border: 0;
  }
}

:host(.ac-button--flat) {
  button, a {
    border: 0;
  }
}

:host(.ac-button--disabled) {
  button, a {
    pointer-events: none;
  }
}
