$turquoise: (
  normal: #41ABAF,
  lighter: #85CFD2,
  light: #5FC0C4,
  dark: #33878A,
  darker: #256265
);

$blue: (
  normal: #499DD3,
  lighter: #9BC9E7,
  light: #72B3DD,
  dark: #2D84BC,
  darker: #236793
);

$lemon: (
  normal: #A1C200,
  lighter: #DBFF29,
  light: #CBF500,
  dark: #778F00,
  darker: #4C5C00
);

$dark-blue: (
  normal: #007B91,
  lighter: #00D2F7,
  light: #00A6C4,
  dark: #00505E,
  darker: #00242B
);

$orange: (
  normal: #FF6900,
  lighter: #FFA566,
  light: #FF8733,
  dark: #CC5400,
  darker: #993F00
);

$dark-yellow: (
  normal: #F59B00,
  lighter: #FFC35C,
  light: #FFB029,
  dark: #C27B00,
  darker: #8F5A00
);

$gray: (
  normal: #C8C8C8,
  lighter: #F5F5F5,
  light: #E1E1E1,
  dark: #A0A0A0,
  darker: #646464
);

$info: #1FB6FF;
$success: #13CE66;
$warning: #FFC82C;
$alert: #FF4949;

$white: #FFFFFF;
$black: #282828;

$primary: #41abaf;
$secondary: #ff6900;
