$turquoise: #41ABAF;
$blue: #499DD3;
$vibrant-blue: #0080FF;
$lemon: #A1C200;
$dark-blue: #007B91;
$orange: #FF6900;
$vibrant-orange: #FF5E00;
$dark-yellow: #F59B00;
$gray: #C8C8C8;
$light-gray: #F5F5F5;
$info: #1FB6FF;
$success: #13CE66;
$warning: #FFC82C;
$alert: #FF4949;
$white: #FFFFFF;
$black: #282828;

// UI Label
$ui-label__color: #646464;
$ui-label--disabled__color: #C8C8C8;

// UI HelperText
$ui-helper-text__color: #A0A0A0;

// UI Button
$ui-button--disabled__background: #E1E1E1;
$ui-button--disabled__color: #C8C8C8;

// UI Input
$ui-input__border-color: #E1E1E1;
$ui-input__color: #282828;
$ui-input--disabled__background-color: #F5F5F5;
$ui-input--disabled__color: #646464;

// UI Check
$ui-check__border-color: #C8C8C8;
$ui-check--hover__border-color: #A0A0A0;
$ui-check--disabled__border-color: #E1E1E1;
$ui-check--disabled__background-color: #F5F5F5;

// UI Panel
$ui-panel__border-color: #E1E1E1;

// UI Tabs
$ui-tabs__border-bottom-color: rgba(0,0,0,.08);

// UI Layout
$ui-layout__background-color: #FAFAFA
