@import "./colors";

$theme: (
  primary: (
    normal:           $accent-blue, // --color-primary-normal
    contrast:         $white, // --color-primary-contrast
    dark:             darken($accent-blue, 10%), // --color-primary-dark
    darker:           darken($accent-blue, 20%), // --color-primary-darker
    light:            lighten($accent-blue, 10%), // --color-primary-light
    lighter:          lighten($accent-blue, 20%) // --color-primary-lighter
  ),
  secondary: (
    normal:           $accent-red, // --color-secondary-normal
    contrast:         $white, // --color-secondary-contrast
    dark:             darken($accent-red, 10%), // --color-secondary-dark
    darker:           darken($accent-red, 20%), // --color-secondary-darker
    light:            lighten($accent-red, 10%), // --color-secondary-light
    lighter:          lighten($accent-red, 20%) // --color-secondary-lighter
  ),
  info: (
    normal:           $info, // --color-info-normal
    contrast:         $white, // --color-info-contrast
    dark:             darken($info, 10%), // --color-info-dark
    light:            lighten($info, 10%) // --color-info-light
  ),
  success: (
    normal:           $success, // --color-success-normal
    contrast:         $white, // --color-success-contrast
    dark:             darken($success, 10%), // --color-success-dark
    light:            lighten($success, 10%) // --color-success-light
  ),
  warning: (
    normal:           $warning, // --color-warning-normal
    contrast:         $white, // --color-warning-contrast
    dark:             darken($warning, 10%), // --color-warning-dark
    light:            lighten($warning, 10%) // --color-warning-light
  ),
  alert: (
    normal:           $alert, // --color-alert-normal
    contrast:         $white, // --color-alert-contrast
    dark:             darken($alert, 10%), // --color-alert-dark
    light:            lighten($alert, 10%) // --color-alert-light
  ),
  "white": (
    normal:           $white, // --color-white-base
    contrast:         $black, // --color-white-contrast
    dark:             darken($white, 10%), // --color-white-dark
    light:            $white // --color-white-light
  ),
  "light": (
    normal:           $light-gray, // --color-light-base
    contrast:         darken($light-gray, 30%), // --color-light-contrast
    dark:             darken($light-gray, 10%), // --color-light-dark
    dark:             darken($light-gray, 20%), // --color-light-darker
    light:            lighten($light-gray, 10%) // --color-light-light
    lighter:          lighten($light-gray, 20%) // --color-light-lighter
  ),
  "disabled": (
    normal:           $ui_button--disabled__background, // --color-disabled-base
    contrast:         $ui-button--disabled__color, // --color-disabled-contrast
    dark:             darken($gray, 10%), // --color-disabled-dark
    light:            lighten($gray, 10%) // --color-disabled-light
  ),
  "black": (
    normal:           $black, // --color-black-base
    contrast:         $white, // --color-black-contrast
    dark:             darken($black, 10%), // --color-black-dark
    light:            lighten($black, 10%) // --color-black-light
  ),
  // Default component current-color.
  theme: (
    normal:           $white, // --color-theme-base
    contrast:         $black, // --color-theme-contrast
    dark:             darken($white, 10%), // --color-theme-dark
    light:            $white // --color-theme-light
  )
);
