$default-transition: ease-in-out .1s;
$slow-transition: ease-in-out .2s;

// Shadows
$z1-shadow: 0 0 8px rgba(0,0,0, 0.04);
$z5-shadow: 0 8px 16px rgba(0, 0, 0, .08);
$z5-shadow-left: 0 4px 8px rgba(0,0,0, 0.08);
