// Spacing
$spacer-tiny: 8px;
$spacer-small: 16px;
$spacer-medium: 24px;
$spacer-large: 32px;
$spacer-huge: 40px;

// Default Metrics
$border-radius-default: 4px;

// Font
$font-xtiny: 10px;
$font-tiny: 12px;
$font-small: 16px;
$font-medium: 20px;
$font-large: 24px;
$font-huge: 28px;

// Z indexes
$z-default: 0;
$z-header: 1;
$z-fab: 2;
$z-overlay: 3;
$z-navdrawer: 4;
$z-modal: 5;
$z-panel: 6;

// Screen Sizes
// The minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries
$screen-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// Breakpoints utility
@mixin down-sm {
  @media (max-width: map_get($screen-breakpoints, sm)) { @content }
}
@mixin up-sm {
  @media (min-width: map_get($screen-breakpoints, sm)) { @content }
}
@mixin down-md {
  @media (max-width: map_get($screen-breakpoints, md)) { @content }
}
@mixin up-md {
  @media (min-width: map_get($screen-breakpoints, md)) { @content }
}
@mixin down-lg {
  @media (max-width: map_get($screen-breakpoints, lg)) { @content }
}
@mixin up-lg {
  @media (min-width: map_get($screen-breakpoints, lg)) { @content }
}
@mixin down-xl {
  @media (max-width: map_get($screen-breakpoints, xl)) { @content }
}
@mixin up-xl {
  @media (min-width: map_get($screen-breakpoints, xl)) { @content }
}
