@import "variables";

@import "./components/typography";
@import "./components/colors";
@import "./components/tooltip";

* {
  font-family: Nunito, Arial, sans-serif;
  font-size: $font-small;
}

// Custom scrollbar
::-webkit-scrollbar {
  width: $spacer-tiny;
  height: $spacer-tiny;
}
::-webkit-scrollbar-track {
  background: rgba(0,0,0,.2);
}
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.3);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,.4);
}
