@import "../../../theme/variables";

:host {
  top: 100%;

  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid lighten($gray, 10%);
  border-radius: 4px;
  background: $white;
  box-shadow: $z5-shadow;
  z-index: $z-panel;

  ul.ac-panel__list {
    list-style: none;
    padding: 8px 0;

    li.ac-panel__list-item {
      position: relative;
      padding: 4px 16px;
      color: darken($gray, 20%);
      cursor: pointer;
      user-select: none;

      &:hover {
        color: var-color("primary", "normal");
        background-color: var-color("primary", "normal", 0.04);
      }

      &.ac-panel__list-item--selected {
        background-color: var-color("primary", "normal", 0.08);
      }
    }
  }
}
