@import "../../../theme/variables";
@import "./ac-header.vars";

// ---------------------------------------------------------------------------------------------------------------------
// General Style
// ---------------------------------------------------------------------------------------------------------------------

ac-header {
  display: block;
  position: relative;
  z-index: $z-header;
  box-sizing: border-box;
  align-items: center;
  width: $ac-header__width;
  transition: background $slow-transition, box-shadow $slow-transition;

  .ac-header__header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .ac-header__menu-button {
      display: none;

      @include down-md {
        display: block;
      }
    }

    .ac-header__content {
      display: flex;
      align-items: center;
      width: 100%;
      min-height: $ac-header__min-height;
      padding: 0 $spacer-huge;
    }

    .ac-header__actions {
      padding-right: $spacer-huge;
    }

    @include down-md {
      min-height: $ac-header--mobile__min-height;

      .ac-header__content {
        position: absolute;
        z-index: -1;
        justify-content: center;
        padding: 0 $spacer-small;
      }

      .ac-header__actions {
        padding-right: $spacer-small;
      }
    }
  }


  // Modify the AcTabs style when it is integrated
  // through the sub-header slot.
  // --------------------------------------------------

  & > ac-tabs[slot="sub-header"] {
    border-width: 0;

    @include up-md() {
      padding: 0 $spacer-medium;
      border-width: 1px;
    }
  }
}


// ---------------------------------------------------------------------------------------------------------------------
// State Modifiers
// ---------------------------------------------------------------------------------------------------------------------

// Scrolled mode
// --------------------------------------------------

ac-header.ac-header--scrolled {
  box-shadow: $z1-shadow;
}


// ---------------------------------------------------------------------------------------------------------------------
// Theme Variations
// ---------------------------------------------------------------------------------------------------------------------

@include header-variations("primary");
@include header-variations("secondary");
