@import "../../theme/variables";

/* tooltip */
[tooltip] {
  position: relative;
  outline: none;

  &:before,
  &:after {
    display: block;
    visibility: hidden;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: all ease 0.25s;
    opacity: 0;

  }

  &:before {
    content: attr(tooltip);
    bottom: 120%;
    max-width: 300px;
    padding: 8px;
    border-radius: $border-radius-default;
    background-color: $black;
    color: $white;
    white-space: nowrap;
  }

  &:after {
    content: "";
    top: -14px;
    width: $spacer-tiny;
    height: $spacer-tiny;
    border-radius: 50%;
    background-color: $black;
  }

  &:hover {
    &:before,
    &:after {
      visibility: visible;
      opacity: 1;
    }
  }
}
