@import "../../theme/variables";

// ---------------------------------------------------------------------------------------------------------------------
// Tooltip Util
// ---------------------------------------------------------------------------------------------------------------------

[tooltip] {
  position: relative;
  outline: none;

  &:before,
  &:after {
    display: block;
    visibility: hidden;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: $default-transition;
    opacity: 0;

  }

  &:before {
    content: attr(tooltip);
    bottom: 120%;
    max-width: 300px;
    padding: $spacer-tiny;
    border-radius: $border-radius-default;
    background-color: var-color("neutral", "inverter");
    color: var-color("neutral", "contrast");
    white-space: nowrap;
  }

  &:after {
    content: "";
    top: -14px;
    width: $spacer-tiny;
    height: $spacer-tiny;
    border-radius: 50%;
    background-color: var-color("neutral", "inverter");
  }

  &:hover {
    &:before,
    &:after {
      visibility: visible;
      opacity: 1;
    }
  }
}
