@import "../../theme/variables";
@import "layout";
@import "typography";
@import "tooltip";
@import "scrollbar";
@import "skeletons";
@import "animations";

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
