@import "../../../theme/variables";

// ---------------------------------------------------------------------------------------------------------------------
// General Style
// ---------------------------------------------------------------------------------------------------------------------

ac-card {
  display: flex;
  flex-direction: column;
  border: 1px solid var-color("neutral", "light");
  border-radius: $border-radius-default;
  background: var-color("neutral", "contrast");
  box-shadow: $z2-shadow;

  & > [slot=header] {
    padding: $spacer-medium $spacer-large $spacer-small;
  }

  & > [slot=content] {
    height: 100%;
    padding: $spacer-small $spacer-large $spacer-medium;
  }

  & > [slot=actions] {
    display: flex;
    justify-content: end;
    padding: $spacer-small $spacer-large $spacer-medium;
  }

  & > ac-tabs[slot=header] {
    padding: 0 $spacer-medium;
  }
}
