@import "../../../theme/variables";

// General Stepper Style
// --------------------------------------------------

ac-stepper {
  display: flex;

  .ac-stepper__step {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    margin-left: 44px;
    border: 2px solid var-color("secondary", "normal");
    border-radius: 100%;
    fill: var-color("secondary", "normal");
    color: var-color("secondary", "normal");
    font-weight: bold;
    user-select: none;

    &:after {
      content: "";
      position: absolute;
      width: 44px;
      margin-left: -44px;
      border: 0.5px solid var-color("secondary", "normal");
    }

    &.ac-stepper__step--active {
      border-color: var-color("primary", "normal");
      background-color: var-color("primary", "normal");
      fill: $white;
      color: $white;
      &:after {
        border: 1px solid var-color("primary", "normal");
      }
    }

    &:first-of-type {
      margin-left: 0;
      &:after {
        display: none;
      }
    }
  }
}
