@import "../../../theme/variables";

ac-pagination {
  display: flex;

  ac-tabs {
    & > * {
      align-items: center;

    }
  }

  .page-counter__container {
    color: var-color("primary", "normal");
    width: 20px;
    height: 20px;
    display: flex;
    align-items: flex-end;
    .page-counter__container--icon {
      fill: var-color("primary", "normal");
    }
  }
  .page-counter__container--expand {
    flex: 0 0 84px;
    align-items: center;
  }

  .skip-pages {
    display: flex;
    align-items: center;
    padding: 0 8px;
    color: var-color("primary", "normal");
    cursor: pointer;
    .skip-pages--icon {
      padding: 0 8px;
      fill: var-color("primary", "normal");
    }
  }
  .skip-pages__disable {
      color: var-color("neutral", "light");
      cursor: default;
      .skip-pages--icon {
        fill: var-color("neutral", "light");
      }
    

  }
}

