@import "../theme/variables";

h1, h2, h3, h4, h5, h6, p, small {
  line-height: calc(100% + #{$spacer-tiny});
  margin: 0 0 1em 0;
  padding-top: 2em;
}
h1 {
  font-size: $font-huge;
  font-weight: 900;
  color: $black;
}
h2 {
  font-size: $font-large;
  color: $black;
}
h3 {
  font-size: $font-medium;
}
h4 {
  font-size: $font-small;
}
h5 {
  font-size: $font-tiny;
  text-transform: uppercase;
}
h6 {
  font-size: $font-tiny;
}
p {
  font-size: $font-small;
  padding: 0;
}
p + div {
  margin-top: $spacer-huge;
}
small {
  font-size: $font-tiny;
  padding: 0;
}

strong, b {
  color: $black;
}

.font-italic {
  font-style: italic;
}

.font-light {
  font-weight: 300;
}
.font-regular {
  font-weight: 400;
}
.font-semibold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.font-extrabold {
  font-weight: 800;
}
.font-black {
  font-weight: 900;
}
