@import "../../../../theme/variables";
@import "ac-tab.vars";

// @TODO: Review the skeleton usage.
@include component-skeleton("ac-tab") {
  @include skeleton-background("skeleton-background");
  @include create-skeleton-for-text("*", $ac-tab__font-size);
  display: inline-block;
  height: $ac-tab__font-size;
  margin: $ac-tab__padding;
  padding: 0;
  color: transparent;
  font-size: inherit;
  * {
    display: inherit !important;
  }
}
