@import "../../../theme/variables";

// ---------------------------------------------------------------------------------------------------------------------
// Spec Variables
// ---------------------------------------------------------------------------------------------------------------------

$ac-input-base__min-height: 48px;
$ac-input-base--compact__min-height: 44px;
$ac-input-base__display: flex;


// ---------------------------------------------------------------------------------------------------------------------
//  Utilities
// ---------------------------------------------------------------------------------------------------------------------

@mixin input-variations($color-name) {
  ac-input-base.ac-input--focus {
    border-color: var-color($color-name, "normal");
    label.ac-input__label {
      color: var-color($color-name, "normal");
    }
  }
}
