@import "../../../theme/variables";

/**
* generate buttons variations
*/
@mixin input-variations($selector, $color-name) {
  :host(#{$selector}.ac-input--focus) {
    border-color: var-color($color-name, "normal");
    label.ac-input__label {
      color: var-color($color-name, "normal");
    }
  }
}

:host {
  display: flex;
  background-color: white;
  border: 2px solid #E1E1E1;
  border-radius: 4px;
  transition: border-color $default-transition;

  .ac-input__input-container {
    position: relative;
    width: 100%;
    display: flex;

    label.ac-input__label {
      position: absolute;
      top: 18px;
      left: 16px;
      color: #A0A0A0;
      transition: font-size $default-transition, top $default-transition;
      user-select: none;
      font-size: $font-small;
    }

    input {
      width: 100%;
      height: 52px;
      padding: 24px 16px 8px;
      box-sizing: border-box;
      background-color: transparent;
      border: none;
      font-size: $font-small;

      &:focus {
        outline: none;
      }
    }
  }

  ::slotted([slot]) {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

    max-width: 44px;
    min-width: 44px;
    margin: $spacer-tiny / 2;
  }
}

:host(.ac-input--focus, .ac-input--filled) {
  label.ac-input__label {
    font-size: $font-tiny;
    top: 6px;
  }
}

:host(.ac-input--alert) {
  border-color: var-color("alert", "normal");
  label.ac-input__label {
    color: var-color("alert", "normal");
  }
}

@include input-variations("ac-input-base", "primary");
