@import "../../../theme/variables";
@import "ac-input-base.vars";

/**
* generate buttons variations
*/
@mixin input-variations($selector, $color-name) {
  ac-input-base.ac-input--focus {
    border-color: var-color($color-name, "normal");
    label.ac-input__label {
      color: var-color($color-name, "normal");
    }
  }
}


// General Input Base Style
// --------------------------------------------------

ac-input-base {
  display: $ac-input-base__display;
  min-height: $ac-input-base__min-height;
  border: 2px solid $ui-input__border-color;
  border-radius: 4px;
  background-color: white;

  .ac-input__input-container {
    display: flex;
    position: relative;
    width: 100%;

    label.ac-input__label {
      position: absolute;
      top: 50%;
      left: 16px;
      transform: translateY(-50%);
      transition: font-size $default-transition, top $default-transition;
      color: $ui-label__color;
      font-size: $font-small;
      pointer-events: none;
      user-select: none;
    }

    input.ac-input__native {
      box-sizing: border-box;
      width: 100%;
      height: $ac-input-base__min-height;
      padding: 24px 16px 8px;
      border: none;
      background-color: transparent;
      color: $ui-input__color;
      font-size: $font-small;

      &:focus {
        outline: none;
      }
    }
  }

  .ac-input__item-start, .ac-input__item-end {
    & > * {
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      min-width: 44px;
      height: calc(100% - 8px);
      margin: $spacer-tiny / 2;
    }
  }
}


// Input filled by a value or in Focus mode
// --------------------------------------------------

ac-input-base.ac-input--focus, ac-input-base.ac-input--filled {
  label.ac-input__label {
    top: 25%;
    font-size: $font-tiny;
  }
}


// Alert/Error mode
// --------------------------------------------------

ac-input-base.ac-input--alert {
  border-color: var-color("alert", "normal");
  background-color: white;
  label.ac-input__label {
    color: var-color("alert", "normal");
  }
}


// Disabled mode
// --------------------------------------------------

ac-input-base.ac-input--disabled {
  background-color: $ui-input--disabled__background-color;
  input.ac-input__native {
    color: $ui-input--disabled__color;
    cursor: not-allowed;
  }

  label.ac-input__label {
    color: $ui-label--disabled__color;
  }
}


// Compact mode
// --------------------------------------------------

ac-input-base.ac-input--compact {
  min-height: $ac-input-base--compact__min-height;
  border: 0px;

  .ac-input__input-container {
    input.ac-input__native {
      height: $ac-input-base--compact__min-height;
    }
  }
}

@include input-variations("ac-input-base", "primary");
