@import "../../theme/variables";

// ---------------------------------------------------------------------------------------------------------------------
// Tooltip Util
// ---------------------------------------------------------------------------------------------------------------------

[tooltip], [tooltip-bottom] {
  position: relative;
  outline: none;

  &:before,
  &:after {
    position: absolute;
    left: 50%;
    z-index: 1;
    display: block;
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;
    transition: $default-transition;
  }

  &:before {
    max-width: 300px;
    padding: $spacer-tiny;
    color: var-color("neutral", "contrast");
    white-space: nowrap;
    background-color: var-color("neutral", "inverted");
    border-radius: $border-radius-default;
  }

  &:after {
    width: $spacer-tiny;
    height: $spacer-tiny;
    background-color: var-color("neutral", "inverted");
    border-radius: 50%;
    content: "";
  }

  &:hover {
    &:before,
    &:after {
      visibility: visible;
      opacity: 1;
    }
  }
}

[tooltip] {
  &:before {
    bottom: 120%;
    content: attr(tooltip);
  }
  &:after {
    top: -14px;
  }
}

[tooltip-bottom] {
  &:before {
    bottom: -100%;
    content: attr(tooltip-bottom);
  }
  &:after {
    bottom: -14px;
  }
}
