@import "../../../theme/variables";
@import "ac-badge.vars";

// ---------------------------------------------------------------------------------------------------------------------
// General Style
// ---------------------------------------------------------------------------------------------------------------------

ac-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: $spacer-small;
  height: $spacer-small;
  border-radius: 100px;
  font-size: $font-xtiny;
  font-weight: bold;
}

// ---------------------------------------------------------------------------------------------------------------------
// State Modifiers
// ---------------------------------------------------------------------------------------------------------------------

ac-badge.ac-badge--floating {
  position: absolute;
  z-index: $z-fab;
  right: 0;
  bottom: 0;
}

// ---------------------------------------------------------------------------------------------------------------------
// Theme Variations
// ---------------------------------------------------------------------------------------------------------------------

@include badge-variations(".ac-badge--success", "success");
@include badge-variations(".ac-badge--warning", "warning");
@include badge-variations(".ac-badge--alert", "alert");
@include badge-variations(".ac-badge--info", "info");


