@import "../../../theme/variables";
@import "ac-badge.vars";

// ---------------------------------------------------------------------------------------------------------------------
// General Style
// ---------------------------------------------------------------------------------------------------------------------

ac-badge {
  .ac-badge-background {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 60px;
    height: 20px;
    border-radius: 14px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
  }
}


// ---------------------------------------------------------------------------------------------------------------------
// Theme Variations
// ---------------------------------------------------------------------------------------------------------------------

@include badge-variations(".ac-badge--success", "success");
@include badge-variations(".ac-badge--warning", "warning");
@include badge-variations(".ac-badge--alert", "alert");
@include badge-variations(".ac-badge--info", "info");


