@import "../../../theme/variables";

/**
 * Generate gauge variations by color palette.
 */
@mixin gauge-variations($selector, $color-name) {
  ac-gauge#{$selector} {
    .ac-gauge__meter {
      path {
        stroke: var-color($color-name, "dark");
      }
    }

    .ac-gauge__bg {
      path {
        stroke: var-color($color-name, "light");
        fill: var-color($color-name, "lighter");
      }
    }

    .ac-gauge__inner {
      color: var-color($color-name, "dark");
      font-size: 23px;
    }
  }
}


// General Gauge Style
// --------------------------------------------------

ac-gauge {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;

  .ac-gauge__meter {
    position: absolute;
    left: 0;
    transform: rotate(180deg);
    transition: stroke-dashoffset $slow-transition;
    stroke-dasharray: 272%;
    path {
      transition: fill $slow-transition, stroke $slow-transition;
      stroke-width: 100px;
      fill: none;
      stroke-miterlimit: 10;
    }
  }

  .ac-gauge__bg {
    path {
      transition: fill $slow-transition, stroke $slow-transition;
      stroke-width: 100px;
      stroke-miterlimit: 10;
    }
  }

  .ac-gauge__inner {
    position: absolute;
  }

  @include browser-ie {
    .ac-gauge__meter {
      top: 0;
    }
    .ac-gauge__inner {
      top: 40%;
      left: 40%;
      //margin: -11px
    }
  }
}


// Gauge Theme Variations
// --------------------------------------------------

@include gauge-variations(".ac-gauge--primary", "primary");
@include gauge-variations(".ac-gauge--secondary", "secondary");


// Void state
// percent="0"
// --------------------------------------------------

ac-gauge.ac-gauge--void {
  .ac-gauge__meter {
    path {
      stroke: #e6e6e6;
    }
  }

  .ac-gauge__bg {
    path {
      stroke: #e6e6e6;
      fill: #f5f5f5;
    }
  }

  .ac-gauge__inner {
    color: #a0a0a0;
  }
}
