@import "../../../theme/variables";

@mixin gauge-variations($selector, $color-name) {
  ac-gauge#{$selector} {
    .ac-gauge__meter {
      path {
        stroke: var-color($color-name, "dark");
      }
    }
    .ac-gauge__bg {
      path {
        fill: var-color($color-name, "lighter");
        stroke: var-color($color-name, "light");
      }
    }
    .ac-gauge__inner {
      font-size: 23px;
      color: var-color($color-name, "dark");
    }
  }
  ac-gauge#{$selector}.ac-gauge--void {
    .ac-gauge__meter {
      path {
        stroke: #e6e6e6;
      }
    }
    .ac-gauge__bg {
      path {
        fill: #f5f5f5;
        stroke: #e6e6e6;
      }
    }
    .ac-gauge__inner {
      color: #a0a0a0;
    }
  }
}

ac-gauge {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  .ac-gauge__meter {
    position: absolute;
    left: 0;
    stroke-dasharray: 272%;
    transform: rotate(180deg);
    transition: stroke-dashoffset $slow-transition;
    path {
      fill: none;
      stroke-width: 100px;
      stroke-miterlimit: 10;
      transition: fill $slow-transition, stroke $slow-transition;
    }
  }

  .ac-gauge__bg {
    path {
      stroke-width: 100px;
      stroke-miterlimit: 10;
      transition: fill $slow-transition, stroke $slow-transition;
    }
  }

  .ac-gauge__inner {
    position: absolute;
  }
}

// Gauge variantes
@include gauge-variations(".ac-gauge--primary", "primary");
@include gauge-variations(".ac-gauge--secondary", "secondary");
