@import "../../../theme/variables";
@import "ac-gauge.vars";

// ---------------------------------------------------------------------------------------------------------------------
// General Style
// ---------------------------------------------------------------------------------------------------------------------

ac-gauge {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;

  .ac-gauge__meter {
    position: absolute;
    left: 0;
    transform: rotate(180deg);
    transition: stroke-dashoffset $slow-transition;
    stroke-dasharray: 272%;

    path {
      transition: fill $slow-transition, stroke $slow-transition;
      stroke-width: 100px;
      fill: none;
      stroke-miterlimit: 10;
    }
  }

  .ac-gauge__bg {
    path {
      transition: fill $slow-transition, stroke $slow-transition;
      stroke-width: 100px;
      stroke-miterlimit: 10;
    }
  }

  .ac-gauge__inner {
    position: absolute;
  }

}

@include browser-ie {
  ac-gauge {
    display: flex;
    flex-direction: column;

    .ac-gauge__meter {
      top: 0;
    }

    .ac-gauge__inner {
      top: 40%;
      left: 40%;
    }
  }
}


// ---------------------------------------------------------------------------------------------------------------------
// State Modifiers
// ---------------------------------------------------------------------------------------------------------------------

// Void mode (percent=0)
// --------------------------------------------------

ac-gauge.ac-gauge--void {
  .ac-gauge__meter {
    path {
      stroke: var-color("neutral", "light") !important;
    }
  }

  .ac-gauge__bg {
    path {
      stroke: var-color("neutral", "light") !important;
      fill: var-color("neutral", "lighter") !important;
    }
  }

  .ac-gauge__inner {
    color: var-color("neutral", "darker") !important;
  }
}


// ---------------------------------------------------------------------------------------------------------------------
// Theme Variations
// ---------------------------------------------------------------------------------------------------------------------

@include gauge-variations(".ac-gauge--primary", "primary");
@include gauge-variations(".ac-gauge--secondary", "secondary");
