@import "../../../theme/variables";

// ---------------------------------------------------------------------------------------------------------------------
// General Style
// ---------------------------------------------------------------------------------------------------------------------

ac-modal {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  min-width: 240px;
  min-height: 240px;
  background-color: var-color("neutral", "contrast");
  border-radius: 4px;
  box-shadow: $z3-shadow;
  transition: transform $default-transition,
              opacity $default-transition;

  .ac-modal__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $spacer-small 20px;
    color: var-color("neutral", "inverted");
    border-bottom: 1px solid var-color("neutral", "light");

    .ac-modal__title {
      font-weight: bold;
      font-size: 20px;
    }
  }

  .ac-modal__content {
    position: relative;
    height: 100%;
    max-height: calc(100vh - 314px);
    padding: 40px;
    overflow-y: auto;
  }

  .ac-modal__footer {
    padding: $spacer-small;

    ac-button {
      margin: 0 ($spacer-tiny / 2);
    }
  }

  &.transition--before-enter,
  &.transition--before-leave {
    transform: scale(0.7);
    opacity: 0.5;
  }

  @include down-sm() {
    width: 100%;
    height: 100%;
    border-radius: 0;
    .ac-modal__header {
      min-height: 56px;
      padding: $spacer-tiny;
      h1 {
        font-size: $font-medium;
      }
    }
    .ac-modal__content {
      max-height: calc(100vh - 56px);
      padding: $spacer-tiny;
    }
  }
}


// Modal's Scrollbar theming
// --------------------------------------------------

@include scrollbar("ac-modal .ac-modal__content");
