@import "../../../theme/variables";

// ---------------------------------------------------------------------------------------------------------------------
// Spec Variables
// ---------------------------------------------------------------------------------------------------------------------

$ac-input-base__min-height: 44px;
$ac-input-base--small__min-height: 36px;
$ac-input-base__display: flex;
$ac-input-base--items-IE__max-width: 44px;


// ---------------------------------------------------------------------------------------------------------------------
//  Utilities
// ---------------------------------------------------------------------------------------------------------------------

@mixin input-variations($color-name) {
  ac-input-base.ac-input-base--#{$color-name}.ac-input-base--focus {
    border-color: var-color($color-name, "normal");
    .ac-input__label {
      color: var-color($color-name, "normal");
    }

    // @TODO: Remove this cross styling.
    .ac-input__item-end {
      & > ac-button .ac-button__native {
        border-color: var-color($color-name, "normal");
      }
    }
  }
}
