@import "../../../theme/variables";
@import "ac-input-base.vars";

// ---------------------------------------------------------------------------------------------------------------------
// General Style
// ---------------------------------------------------------------------------------------------------------------------

ac-input-base {
  display: $ac-input-base__display;
  min-height: $ac-input-base__min-height;
  max-height: $ac-input-base__min-height;
  overflow: hidden;
  border: 2px solid var-color("neutral", "light");
  border-radius: $border-radius-default;
  background-color: var-color("neutral", "contrast");

  .ac-input__input-container {
    display: flex;
    position: relative;
    width: 100%;

    .ac-input__label {
      position: absolute;
      top: 12px;
      left: $spacer-small;
      transition: font-size $default-transition, top $default-transition;
      color: var-color("neutral", "darker");
      font-size: $font-small;
      line-height: 1;
      white-space: nowrap;
      pointer-events: none;
      user-select: none;
    }

    input.ac-input__native {
      box-sizing: border-box;
      width: 100%;
      padding: 20px $spacer-small $spacer-tiny;
      border: none;
      background-color: transparent;
      color: var-color("neutral", "inverted");
      font-size: $font-small;
      line-height: 1;
      &::placeholder {
        color: current-color("contrast", 0.6);
      }

      &:focus {
        outline: none;
      }
    }
  }

  .ac-input__item-start, .ac-input__item-end {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;

    & > ac-input-base {
      border: 0;
      border-top: 2px;
    }
  }

  .ac-input__item-start {
    & > i, & > svg {
      margin: 0 0 0 $spacer-small;
    }
  }

  .ac-input__item-end {
    & > ac-button .ac-button__native {
      border: 0;
      border-left: 2px solid var-color("neutral", "light");
      border-radius: 0;
    }
  }
}


// ---------------------------------------------------------------------------------------------------------------------
// State modifiers
// ---------------------------------------------------------------------------------------------------------------------

// No label
// ---------------------------------------------------------

ac-input-base.ac-input-base--no-label {
  input.ac-input__native {
    padding: $spacer-tiny $spacer-small $spacer-tiny;
  }
}

// Focused or Filled
// ---------------------------------------------------------

ac-input-base.ac-input-base--focus,
ac-input-base.ac-input-base--filled {
  .ac-input__label {
    top: 4px;
    font-size: $font-tiny;
  }
}


// Small size (size=small)
// ---------------------------------------------------------

ac-input-base.ac-input-base--small {
  min-height: $ac-input-base--small__min-height;
  max-height: $ac-input-base--small__min-height;

  .ac-input__input-container {
    input.ac-input__native {
      padding: $spacer-tiny $spacer-small $spacer-tiny;
    }
  }
}


// Error (error)
// ---------------------------------------------------------

ac-input-base.ac-input-base--error {
  border-color: var-color("alert", "normal");
  background-color: white;

  .ac-input__label {
    color: var-color("alert", "normal");
  }

  .ac-input__item-end {
    & > ac-button .ac-button__native {
      border-color: var-color("alert", "normal");
    }
  }
}


// Disabled (disabled)
// ---------------------------------------------------------

ac-input-base.ac-input-base--disabled {
  background-color: var-color("neutral", "lighter");

  input.ac-input__native {
    color: var-color("neutral", "darker");
    cursor: not-allowed;
  }

  .ac-input__label {
    color: var-color("neutral", "normal");
  }
}

// Browser is IE
// ---------------------------------------------------------

@include browser-ie {
  ac-input-base {
    .ac-input__item-start, .ac-input__item-end {
      max-width: $ac-input-base--items-IE__max-width;
    }
  }
}


// ---------------------------------------------------------------------------------------------------------------------
// Theme Variations
// ---------------------------------------------------------------------------------------------------------------------

@include input-variations("primary");
@include input-variations("info");
@include input-variations("success");
@include input-variations("warning");
