@import "../../../theme/variables";

// ---------------------------------------------------------------------------------------------------------------------
// General Style
// ---------------------------------------------------------------------------------------------------------------------

ac-input {
  display: flex;
  flex-direction: column;

  .ac-input__helper-text {
    display: block;
    margin-top: $spacer-tiny;
    color: var-color("neutral", "dark");
    font-size: $font-tiny;
  }
}


// ---------------------------------------------------------------------------------------------------------------------
// State Modifiers
// ---------------------------------------------------------------------------------------------------------------------

// Error mode (FormFieldBehavior)
// --------------------------------------------------

ac-input.form-field--invalid {
  .ac-input__helper-text {
    color: var-color("alert", "normal");
  }
}
