@import "../../../theme/variables";

// ---------------------------------------------------------------------------------------------------------------------
// General Style
// ---------------------------------------------------------------------------------------------------------------------

ac-overlay {
  display: flex;
  position: fixed;
  z-index: $z-overlay;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .ac-overlay--layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

ac-overlay.ac-overlay--backdrop-dark {
  .ac-overlay--layer {
    transition: opacity $default-transition;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &.transition--before-enter {
    .ac-overlay--layer {
      opacity: 0;
    }
  }

  &.transition--before-leave {
    .ac-overlay--layer {
      opacity: 0;
    }
  }
}


// ---------------------------------------------------------------------------------------------------------------------
// State Modifiers
// ---------------------------------------------------------------------------------------------------------------------

// No Layer mode (no-layer)
// --------------------------------------------------

ac-overlay.ac-overlay--no-layer {
  pointer-events: none;
  & > * {
    pointer-events: auto;
  }
}


